@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.contact-form {
  margin: 0;
}

.job-card {
  width: 100%;
}

.job-card .job-company-infos {
  width: 100% !important;
}

.job-card .job-company-infos .job-infos {
  width: 100% !important;
}

.job-card .semester i {
  font-size: 80px;
}

.job-card .semester-text {
  font-size: 12px;
  transform: translateY(-20px);
}

.job-card .semester-number {
  font-size: 15px;
  transform: translateY(-25px);
}

.company-logo {
  width: 150px;
  height: 150px;
}

.apply-semester {
  margin-top: 3rem;
}

.apply-semester .apply-btn {
  display: flex;
}
